body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  h1 {
    font-size: 2.5rem;
    color: #1a237e;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.8rem;
    color: #3f51b5;
    margin-top: 20px;
  }
  a {
    font-size: 1.5;
    color: #3f51b5;
    margin-top: 10px;
  }
  a:hover {
    color: aquamarine;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; 
  }

  img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }